@model Product

<div class="form-control">
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="/images/@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <h6>@Model.Price</h6>

        </div>
    </div>

</div>