@model Employee
@{
	ViewData["Title"] = "AddNewEmployee";
	var depts = ViewBag.Departments;
}

<h1>AddNewEmployee</h1>

<form method="post" asp-action="AddNewEmployee">


	<div class=" form-group row">
		<label asp-for="Name">Name</label>
		<input type="text" class="form-control" asp-for="Name"  />
	</div>

	<div class=" form-group row">
		<label asp-for="Password">Password</label>
		<input asp-for="Password"  type="text" class="form-control" />
	</div>

	<div class=" form-group row">
		<label asp-for="Email">Email</label>
		<input type="text" asp-for="Email" class="form-control" />
	</div>


	<div class=" form-group row">
		<label asp-for="Salary">Salary</label>
		<input type="text"  asp-for="Salary" class="form-control" />
	</div>
	<div class=" form-group row">
		<label asp-for="JoinDate">JoinDate</label>
		<input type="text"  asp-for="JoinDate" class="form-control" />
	</div>
	<div class=" form-group row">
		<label asp-for="PhoneNum">PhoneNum</label>
		<input type="text"asp-for="PhoneNum" class="form-control" />
	</div>

	<select asp-for="DepartmentId" asp-items="@depts">

	</select>


	<input type="submit" value="Save Changes" class="btn btn-primary" />

</form>
